################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArcGisTests/.vs
/ArcGisTests/bin/Debug/net8.0
/ArcGisTests/obj
